@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Slides</title>
</head>
<body>
    <div>
        <h1>Create a new Slide</h1>
        <span>Provider:</span>
        <input id="Provider" type="text" data-bind="value: Provider" />
        <br/>
        <span>Reference Number:</span>
        <input id="ReferenceNumber" type="text" data-bind="value: ReferenceNumber" />
        <br/>
        <span>Slide Type:</span>
        <input id="SlideType" type="text" data-bind="value: SlideType" />
        <br/>
        <span>Date From:</span>
        <input id="From" type="text" data-bind="value: From" />
        <br/>
        <span>Date To:</span>
        <input id="To" type="text" data-bind="value: To"/>
        <br/>
        <br/>
        <input type="button" value="Add Slide" data-bind="click: addSlide"/>
        <p>Change some values and hit the button to post to the web api endpoint.</p>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
<script src="~/ViewModels/SildeViewModel.js"></script>
</body>
</html>